# Cache and logs (Symfony2)
/app/cache/*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep

# Email spool folder
/app/spool/*

# Cache, session files and logs (Symfony3)
/var/cache/*
/var/logs/*
/var/sessions/*
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/sessions/.gitkeep

# Parameters
/app/config/parameters.yml
/app/config/parameters.ini

# Managed by Composer
/app/bootstrap.php.cache
/var/bootstrap.php.cache
/bin/*
!bin/console
!bin/symfony_requirements
/vendor/

# Assets and user uploads
/web/bundles/
/web/uploads/

# Assets managed by Bower
/web/assets/vendor/

# PHPUnit
/app/phpunit.xml
/phpunit.xml

# Build data
/build/

# Composer PHAR
/composer.phar

# Backup entities generated with doctrine:generate:entities command
*/Entity/*~
.idea/vagrant.xml
app/DoctrineMigrations/Version20160709195730.php
app/DoctrineMigrations/Version20160709210123.php
app/Resources/data/
src/Labs/BackBundle/Controller/EventsController.php
src/Labs/BackBundle/Entity/Category.php~
src/Labs/BackBundle/Entity/Events.php
src/Labs/BackBundle/Entity/Events.php~
src/Labs/BackBundle/Form/.DS_Store
src/Labs/BackBundle/Form/EventsEditType.php
src/Labs/BackBundle/Form/EventsType.php
src/Labs/BackBundle/Repository/EventsRepository.php
src/Labs/BackBundle/Resources/views/Events/
src/Labs/BackBundle/Resources/views/Medias/upload_dossier.html.twig
src/Labs/BackBundle/Resources/views/Medias/upload_events.html.twig
var/cache/
web/media/cache/.DS_Store
web/media/cache/image_profolio/uploads/gallery/2716fef297aeacb3b69904be38a0144b.jpeg
web/media/cache/image_profolio/uploads/gallery/34ce727c5d0cefa1c8bc0c27db006d02.jpeg
web/media/cache/image_profolio/uploads/gallery/bc25f810e1496045186b8c5b1fb9a77c.jpeg
web/media/cache/image_profolio/uploads/gallery/ec4580ddfc4753c2af7bda2ce4bbdd9b.jpeg
web/media/cache/image_profolio_full/uploads/gallery/2716fef297aeacb3b69904be38a0144b.jpeg
web/media/cache/image_profolio_full/uploads/gallery/34ce727c5d0cefa1c8bc0c27db006d02.jpeg
web/media/cache/image_profolio_full/uploads/gallery/bc25f810e1496045186b8c5b1fb9a77c.jpeg
web/media/cache/image_profolio_full/uploads/gallery/ec4580ddfc4753c2af7bda2ce4bbdd9b.jpeg
web/media/cache/my_thumb_admin_gallery/uploads/bestman/57800f68c11cd.jpg
web/media/cache/my_thumb_admin_gallery/uploads/gallery/20f5dd7f9e7fc721581ecbc0dfb74593.jpeg
web/media/cache/my_thumb_admin_gallery/uploads/gallery/2716fef297aeacb3b69904be38a0144b.jpeg
web/media/cache/my_thumb_admin_gallery/uploads/gallery/2eca6e8774008e57e06a577ead931d1e.jpeg
web/media/cache/my_thumb_admin_gallery/uploads/gallery/34ce727c5d0cefa1c8bc0c27db006d02.jpeg
web/media/cache/my_thumb_admin_gallery/uploads/gallery/3ec3c1c6feac5de5f26eeabe04410da8.jpeg
web/media/cache/my_thumb_admin_gallery/uploads/gallery/4451ce818aca26a49b12419986b5012f.jpeg
web/media/cache/my_thumb_admin_gallery/uploads/gallery/4b5a6d363adbde8fb2b7c1ebee463d41.jpeg
web/media/cache/my_thumb_admin_gallery/uploads/gallery/4fb27f3a649591b7276279174264462a.jpeg
web/media/cache/my_thumb_admin_gallery/uploads/gallery/5001ac3e907a1f4167e2797948ef3c90.jpeg
web/media/cache/my_thumb_admin_gallery/uploads/gallery/51f3adc8035c4654ff7e0c4b364376b4.jpeg
web/media/cache/my_thumb_admin_gallery/uploads/gallery/6b99c41e6435d202122fddaf0abd0f66.jpeg
web/media/cache/my_thumb_admin_gallery/uploads/gallery/7bdaae628bcac55e9e77281b32df2ab6.jpeg
web/media/cache/my_thumb_admin_gallery/uploads/gallery/8bba25fae4925f945b1f28727bce309b.jpeg
web/media/cache/my_thumb_admin_gallery/uploads/gallery/97f54183a57e81fc7efe6ef3800a7bf3.jpeg
web/media/cache/my_thumb_admin_gallery/uploads/gallery/a457695eeb05104db54f71acc6fe0d71.jpeg
web/media/cache/my_thumb_admin_gallery/uploads/gallery/a99d743c1e7266f445164b124479871c.jpeg
web/media/cache/my_thumb_admin_gallery/uploads/gallery/ad085224f5a65b14e15154ab7b410f8f.jpeg
web/media/cache/my_thumb_admin_gallery/uploads/gallery/ad243dcb9eb39bcd6f8f09210681052b.jpeg
web/media/cache/my_thumb_admin_gallery/uploads/gallery/b534d7a8cc5f2386f7a9d62fc1fbf793.jpeg
web/media/cache/my_thumb_admin_gallery/uploads/gallery/bc25f810e1496045186b8c5b1fb9a77c.jpeg
web/media/cache/my_thumb_admin_gallery/uploads/gallery/c70779f0f90a6d20a87d73669e0d234b.jpeg
web/media/cache/my_thumb_admin_gallery/uploads/gallery/cf1484aa5c6c7ccfb23025f8c04ab44c.jpeg
web/media/cache/my_thumb_admin_gallery/uploads/gallery/d68f5334147e651e28ce2c41795f81eb.jpeg
web/media/cache/my_thumb_admin_gallery/uploads/gallery/e124fdc3999155a60ba1f0c301cdfc74.jpeg
web/media/cache/my_thumb_admin_gallery/uploads/gallery/e89ac4725e541681ee96dc0c7cc3e5ed.jpeg
web/media/cache/my_thumb_admin_gallery/uploads/gallery/ec4580ddfc4753c2af7bda2ce4bbdd9b.jpeg
web/media/cache/my_thumb_admin_gallery/uploads/gallery/fb7330316de7b7797889995a303273d7.jpeg
