{% extends '::base.html.twig' %}
{% block title %} {{ 'Legend Photograhy | Qui sommes nous' }} {% endblock %}

{% block menu %}
    {{ render(controller('LabsFrontBundle:Default:getMenuGlobal')) }}
{% endblock %}

{% block body %}
    <section id="content">
        <div class="content-wrap">
            <h2>{{ 'Page Qui sommes nous' }}</h2>
        </div>
    </section>
{% endblock %}